<div class="col-md-10 col-md-offset-1">
  <%= render 'static_pages/form' %>
  <% if logged_in? %>
    <br>
    <%= button_to "ライブ作成", {controller: 'microposts', action: 'new'}, {method: :get, class: "btn btn-primary"} %>
  <% end %>
  <div class="row">
    <%= render 'shared/feed' %>
  </div>
</div>