<h3>ライブ一覧</h3>
<% if @microposts.any? %>
  <ol class="microposts">
    <%= render @microposts %>
  </ol>
  <%= will_paginate @microposts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
<% end %>