<footer class="footer">
  <p>©️ 2021 Stcheck All Rights Reserved.</p>
  <span id="back">
    <a href="">
      <%= image_tag asset_path('arrow.png'), data: {"turbolinks"=>false}, class: "arrow" %>
    </a>
  </span>
</footer>