<footer class="footer">
  <small>
    <p>©️ 2021 Stcheck All Rights Reserved.</p>
  </small>
  <p class="pagetop">
    <%= link_to image_tag("pagetop.png", class: "sized", alt: "Pagetop"), '#' %>
  </p>
</footer>