<footer>
  <div class="copyright">
  ©️ 2021 Stcheck All Rights Reserved.
  </div>
  <p class="pagetop">
    <%= link_to image_tag("pagetop.png", class: "sized", alt: "Pagetop"), '#' %>
  </p>
</footer>